.app-logo{
    width: 90px !important;
    height: 50px !important;
}

.symbol-box{
    width: 5rem; 
    height: 5rem; 
    border-radius: 0.5rem;
}


.scrolling-container{

    height: 90%;
    width: 100%;
}

.scrolling-container-item{
   border:none;
}



.example-viewport {
    height: 200px;
    width: 200px;
    border: 1px solid black;
  }
  
  .example-item {
    height:15em;
  }


