<div class="d-flex flex-column h-100 app-background-image-cover width-hidden">
    <div class="d-flex justify-content-between navbar-light bg-white mx-1">
        <a class="navbar-brand ml-2">
          <img src="images/logo.png" class="app-logo">
        </a>
        <form class="form-inline mr-2">
          <button class="btn btn-primary rounded text-white" (click)="logout()">Logout</button> 
    
          <!-- cart -->
        </form>
    </div>
    <!-- reltive will fill 100 -->
    <div class="d-flex flex-column flex-grow-1 mx-2">

      <!-- buttons to switch between list and grid -->
      <div class="row mt-4">
        <div class="offset-11 col-1">
          <!--  -->
          <!-- btn group  or -->
          <div class="input-group">
            <div class="input-group-prepend">
              <!-- maybe use bootstrap icons here  -->
              <button class="btn btn-primary" [ngClass]="{'active': pageMode == 'list'}" (click)="changePageMode('list')">list</button>
            </div>
            <div class="input-group-append"  >
              <button class="btn btn-primary" (click)="changePageMode('grid')" [ngClass]="{'active': pageMode == 'grid'}">grid</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row h-100" *ngIf="isLoading">
        <div class="col-12 d-inline-flex align-items-center justify-content-center">
          <span class="h4"> Loading</span>
          &nbsp;
          <mat-spinner [diameter]="30"></mat-spinner>

        </div>
      </div>

      <div class="row h-100" *ngIf="pageMode.toLocaleLowerCase() == 'list'">
        
        <div class="col-12">
          <!-- i havent used angular material for so long -->
          <!-- maybe add the content propogation -->
          <!-- virtual scroll -->
          <h4 class="text-center text-white bg-dark mt-4">Virtual Scrolling</h4>
          <cdk-virtual-scroll-viewport [itemSize]="virtualScrollCount" class="scrolling-container">
            <div *cdkVirtualFor="let item of products" class="scrolling-container-item py-2   my-2 w-100">
              <!-- use a resuable component -->
               <app-product-list class="w-100">
                <span name>{{item.name}}</span>
                <span price>${{item.price}}</span>
                <span shortName>{{item.shortName}}</span>
                <span productAjective>{{item.productAjective}}</span> 
                <span productMaterial>{{item.productMaterial}}</span> 
                <span department>{{item.department}}</span>
               </app-product-list>
            </div>
          </cdk-virtual-scroll-viewport>



        </div>
      </div>
      <div class="row" *ngIf="pageMode.toLowerCase() == 'grid'">
        @for (item of products; track $index) { 
          <div class="col-6 col-sm-6 col-md-3 col-lg-3">
            <div class="card mt-4 mb-4">
              <div class="card-header bg-white pb-0">
                <div class="card-title d-flex align-items-center flex-column">

                  <div  class="bg-dark text-center d-flex justify-content-center align-items-center symbol-box">
                      <span class="text-white text-center">{{imageSymbolText(item.name)}}</span> 
                      <!-- i could have used the angular pipes for the above -->
                  </div>
                  
                  <span class="text-dark pt-2">
                    {{item.name}}
                  </span>

                  <span class="font-weight-bold pt-2">
                    ${{item.price}}
                  </span>


                  <span class="d-inline-flex pt-2 align-self-center">
                    <button class="badge badge-dark text-white" [matTooltip]="'Short name'" [matTooltipPosition]="'above'">
                      {{item.shortName}}
                    </button>
                    &nbsp;
                    <span class="badge badge-info text-white" [matTooltip]="'Product adjective'" [matTooltipPosition]="'above'">
                      {{item.productAjective}}
                    </span>
                    &nbsp;

                    <span class="badge badge-danger text-white" [matTooltip]="'Product material'" [matTooltipPosition]="'above'">
                      {{item.productMaterial}}
                    </span>
                    &nbsp;

                    <span class="badge badge-warning text-white" [matTooltip]="'Product department'" [matTooltipPosition]="'above'">
                      {{item.department}}
                    </span>
                  </span>

                </div>
              </div>
              <div class="card-body bg-white">
                {{item.description| slice :0:50}}...
              </div>
              <div class="card-footer bg-white">
                <button class="btn btn-outline-primary w-100" (click)="openDialog(item)">manage</button>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
    <!-- use remaining space for the footer -->
    <div class="position-relative py-2 px-2 bg-white">
        <div class="d-flex justify-content-between align-items-center">
          <span>All rights reserved superstore inc &copy;</span>
          <span>1996 - 2024</span>
        </div>
      </div>  
</div>
