<div class="container-fluid h-100 app-background-image">
  <div class="row h-100">
    <div class="col-12">
      <nav class="navbar justify-content-between">
        <a class="navbar-brand">
          <img src="images/logo.png" class="app-logo">
        </a>
        <form class="form-inline">
          <button class="btn btn-primary rounded text-white">Login</button>
        </form>
      </nav>



      <div class="fixed-middle">

      </div>


     
      
      <div class="fixed-bottom py-2 px-2 bg-white">
        <div class="d-flex justify-content-between align-items-center">
          <span>All rights reserved superstore inc &copy;</span>
          <span>1996 - 2024</span>
        </div>
      </div>
    </div>
  </div>
</div>